////////////////////////
// LOGO
.logo {
  height: 3.25rem;
  margin-left: 2%;
  margin-right: 20%;
}

////////////////////////
// SEARCH
.search {
  flex: 0 0 50%;
  margin-right: auto;

  // Nested flex contianer: 1st level
  // .search is both
  // 1. the flex item of header
  // 2. the flex container of __input, __button
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    // input element doesn't inherit global font
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    width: 90%;
    margin-right: -3.25rem; // so that the button will be placed on top of the input
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 5rem;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  // when input is in focus, __button background-color is set to --color-grey-light-3
  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);
    transition: all 0.2s;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

////////////////////////
// SIDE NAVIGATION
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
      @media only screen and (max-width: $bp-medium) {
        margin: 0;
      }
    }

    @media only screen and (max-width: $bp-medium) {
      flex: 1;
    }
  }

  // Hover Animation Effect
  &__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    // transform-origin: bottom; Default: center
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  // Click Animation Effect
  &__item:active::before {
    background-color: var(--color-primary-light);
    // transform: scaleY(0);
  }

  // Link
  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    position: relative; // z-index only works on a specified position area
    z-index: 10;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
      padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      padding: 1.5rem 0.5rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @media only screen and (max-width: $bp-small) {
      margin: 0;
      width: 1.5rem;
      height: 1.5rem;
      margin-bottom: 0.7rem;
    }
  }
  input {
    margin-right: 2rem;
  }
}

////////////////////////
// LEGAL TEXT

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

////////////////////////
// HOTEL-VIEW
// 1. OVERVIEW
.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  p {
    font-size: 1.5rem;
    color: var(--color-primary);
  }

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }

  &__city {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-left: auto;

    &-icon {
      width: 1.75rem;
      height: 1.75rem;
      fill: var(--color-primary);
      margin-right: 0.5rem;
    }
  }

  &__stats {
    align-self: stretch;
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-small) {
      padding: 0rem 1.5rem;
    }

    &-average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -3px;

      @media only screen and (max-width: $bp-small) {
        font-size: 1.8rem;
      }
    }
  }
}

////////////////////////
// LIST
.list {
  list-style: none;
  margin: 1.3rem 0 1.5rem 0;
  padding: 2.5rem 0;
  width: 75%;
  justify-content: left;
  display: flex;
  flex-wrap: wrap;

  &__item {
    font-size: 1.4rem;
    flex: 0 0 20%;
    margin-bottom: 0.6rem;

    &:hover {
      cursor: url('/img/cross.svg'), pointer;
    }
  }

  &__item::before {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;

    // Older browsers
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover;

    // New browsers - use masks
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
      background-image: none;
    }
  }
}

////////////////////////
// AUTOCOMPLETE
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
