nav.sidebar 
    ul.side-nav 
        li.side-nav__item
            a.side-nav__link(href="#") 
                input.population(type="checkbox")
                svg.side-nav__icon 
                    use(xlink:href='/img/sprite.svg#icon-home') 
                span Population 

        li.side-nav__item 
            a.side-nav__link(href="#")
                input.medianAge(type="checkbox")
                svg.side-nav__icon 
                    use(xlink:href='/img/sprite.svg#icon-aircraft-take-off') 
                span Median Age 


        li.side-nav__item 
            a.side-nav__link(href="#")
                input.medianEarnings(type="checkbox")
                svg.side-nav__icon 
                    use(xlink:href='/img/sprite.svg#icon-key') 
                span Median Earnings


        li.side-nav__item 
            a.side-nav__link(href="#")
                input.employment(type="checkbox")
                svg.side-nav__icon 
                    use(xlink:href='/img/sprite.svg#icon-key') 
                span Poverty Rate


        li.side-nav__item 
            a.side-nav__link(href="#")
                input.unemployment(type="checkbox")
                svg.side-nav__icon 
                    use(xlink:href='/img/sprite.svg#icon-key') 
                span Unemployement


        li.side-nav__item 
            a.side-nav__link(href="#")
                input.povertyRate(type="checkbox")
                svg.side-nav__icon 
                    use(xlink:href='/img/sprite.svg#icon-key') 
                span Poverty Rate


        li.side-nav__item 
            a.side-nav__link(href="#")
                input.crime(type="checkbox")
                svg.side-nav__icon 
                    use(xlink:href='/img/sprite.svg#icon-key') 
                span Crime


        li.side-nav__item 
            a.side-nav__link(href="#")
                input.medianHousePrice(type="checkbox")
                svg.side-nav__icon 
                    use(xlink:href='/img/sprite.svg#icon-key') 
                span Median House Price


    .legal &copy; 2021 by Thao. All rights reserved.