header.header
    img.logo(src='/img/logo.png' alt='trillo logo')

    form.search
        .autocomplete
            input.search__input#myInput(type='text' placeholder='Search hotels' name='myCity')
            button.search__button
                svg.search__icon
                    use(xlink:href='/img/sprite.svg#icon-magnifying-glass')
